.Container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.Photo {
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
