.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Description {
    font-style: italic;
    height: 19px;
    font-size: 15px;
    margin-top: 36px;
}

.Button {
    width: 75px;
    height: 75px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
