.Info {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
    margin-top: 183px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    width: 100%;
    font-size: 20px;
    line-height: 39px;
}

@media screen and (max-width: 1000px) {
    .Info {
        margin-top: 0px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.MainColumn {
    max-width: 800px;
    width: 100%;
}

.Column {
    max-width: fit-content;
    width: 100%;
}

@media screen and (max-width: 1860px) {
    .Column {
        max-width: 800px;
    }
}

.Title {
    font-weight: 400;
    margin-bottom: 10px;
}

.Title:not(:first-child) {
    margin-top: 60px;
}

.Text {
    font-weight: 200;
    text-align: justify;
}

.Link {
    font-weight: 200;
}

.Link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MainLink {
    font-weight: 400;
}
