.Info {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    margin-top: 183px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
    font-size: 20px;
    line-height: 39px;
}

.MainColumn {
    max-width: 550px;
    width: 100%;
}

.Column {
    max-width: fit-content;
    width: 100%;
}

.Title {
    font-weight: 400;
    margin-bottom: 17px;
}

.Title:not(:first-child) {
    margin-top: 44px;
}

.Text {
    font-weight: 200;
    text-align: justify;
}

.Link {
    font-weight: 200;
}

.Link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MainLink {
    font-weight: 400;
}
