.Info {
    padding-left: 340px;
    padding-right: 200px;
    padding-bottom: 45px;
    margin-top: 177px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .FirstTitle {
        display: none;
    }

    .Info {
        margin-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.Column {
    max-width: 800px;
    width: 100%;
}

@media screen and (max-width: 1860px) {
    .Column {
        max-width: 800px;
    }
}

.Title {
    font-weight: 400;
    margin-bottom: 10px;
}

.Title:not(:first-child) {
    margin-top: 60px;
}

.Text {
    font-weight: 200;
    text-align: justify;
}

.Link {
    font-weight: 200;
}

.Link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MainLink {
    font-weight: 400;
}
