.Container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container h1 {
    font-weight: 400;
}

.Form {
    max-width: 400px;
}

.Form > input,
.Form > button {
    display: block;
    margin-top: 1em;
    width: 100%;
    padding: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.Form > button {
    cursor: pointer;
    transition: border 0.1s ease-in-out;
}

.Form > input:focus,
.Form > button:hover {
    border: 1px solid black;
}
